.flex-container {
    display: flex;
}



/* ----------------------------------------------- */
.grid-container {
    display: grid;
}

/* ----------------------------------------------- */
.float-container {
    display: block;
    float: right;
}