.container {
    width: 75%;
    min-height: 500px;
    margin: 25px auto;
    padding: 25px;
    background-color: gray;
}

.a, .b, .c, .d, .e, .f {
    width: 150px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: solid 1px lightgray;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.a { background-color: burlywood; }
.b { background-color: cadetblue; }
.c { background-color: cornflowerblue; }
.d { background-color: brown; }
.e { background-color: darkseagreen; }
.f { background-color: darkviolet; }

/* --------------------------------------------------------- */
.container {
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: flex-direction flex-wrap; */

    justify-content: flex-start;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: baseline; */
    /* justify-content: center; */
    /* justify-content: first baseline; */
    /* justify-content: last baseline; */

    align-items: stretch;
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
}