.wrapperOne {
    background-color: aliceblue;
    min-height: 100px;
    margin: 10px auto;
}

.wrapperOne div {
    background-color: lightgray;
    min-height: 75px;
    width: 10%;
    position: relative;
    top: 10px;
    bottom: 10px;
}
.wrapperOne div:nth-child(1) {
    float: left;
    border-left: 25px solid black;
}
.wrapperOne div:nth-child(2) {
    float: right;
    border-right: 25px solid black;
}

.wrapperTwo {
    background-color: beige;
    min-height: 100px;
    margin: 10px auto;
}

.wrapperTwo div {
    background-color: lightgray;
    min-height: 75px;
    width: 10%;
    position: relative;
    top: 10px;
    bottom: 10px;
}
.wrapperTwo div:nth-child(1) {
    float: left;
    border-right: 25px solid black;
}
.wrapperTwo div:nth-child(2) {
    float: right;
    border-left: 25px solid black;
}
