#wrapper {
    background-color: aliceblue;
    width: 60%;
    min-height: 100px;
    margin: auto;
}

/* ------------------------------------------------------ */
#rowOne {
    background-color: antiquewhite;
    min-height: 100px;
}
.headerOne {
    background-color: cornsilk;
    color: white;
    /* overflow: hidden; */
}
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}
.headerOne #colOne {
    background-color: aqua;
    /* width: 50%; */
    float: left;
}
.headerOne #colTwo {
    background-color: burlywood;
    /* width: 50%; */
    float: left;
}
.headerOne #colThree {
    background-color: blue;
    float: left;
}

/* ------------------------------------------------------ */
#rowTwo {
    background-color: antiquewhite;
    min-height: 100px;
    margin: 20px auto;
}
.headerTwo {
    background-color: cornsilk;
    /* overflow: hidden; */
}
.headerTwo h4 {
    background-color: aqua;
    /* width: 50%; */
    float: left;
}
.headerTwo p {
    background-color: burlywood;
    /* width: 50%; */
    float: right;
}

/* ------------------------------------------------------ */
#rowThree {
    background-color: blanchedalmond;
    min-height: 100px;
    margin: 10px auto;
}
.headerThree {
    background-color:aqua;
}
.headerThree .div1 {
    background-color: blue;
    float: left;
}
.mainThree {
    background-color: beige;
}
.mainThree .div2 {
    background-color: brown;
    float: right;
}

/* ------------------------------------------------------ */
#rowFour {
    background-color: cadetblue;
    min-height:100px;
}
.headerFour {
    background-color: lightgray;
    min-height: 50px;
}
.div1 {
    background-color: black;
    color: white;
    width: 60px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
}
.div2 {
    background-color: black;
    color: white;
    width: 60px;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    float: right;
}