.header {
    height: 60px;
    line-height: 60px;
    padding: 0px 15px;
    background-image: linear-gradient(silver, lightgray);
    overflow: hidden;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 60px 15px;
    color: black
}

.menu ul li a:hover {
    background-color: red;
    color: #fff;
}

.main {
    display: flex;
}

.section {
    width: 75%;
    padding: 5px 20px;
    background-color: #FFF;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #48A;
}

.sidebar ul {
    margin: 0px;
    padding: 0px;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    width: 100%;
    padding: 8px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFF;
}

.sidebar ul li a:hover {
    background-color: pink;
    color: black;
}

.footer {
    text-align: center;
    text-transform: capitalize;
    background-color: #888;
    color: #eee;
    padding: 15px;
}

.footer h3, .footer p {
    padding: 0px;
    margin: 0px;
}

.footer p {
    padding: 5px;
    font-size: small;
} 