.flex-container {
    background-color: #84A;
    margin: 10px;
}

.flex-container div {
    border: 1px solid #DDD;
    color: #FFF;
    padding: 10px;
    font-size: 30px;
}
.flex-container div:nth-child(1) {
    background-color: deepskyblue;
}
.flex-container div:nth-child(2) {
    background-color: fuchsia;
}
.flex-container div:nth-child(3) {
    background-color: gold;
}
.flex-container div:nth-child(4) {
    background-color: yellowgreen;
}
.flex-container div:nth-child(5) {
    background-color: crimson;
}
.flex-container div:nth-child(6) {
    background-color: cadetblue;
}

.grid-container {
    background-color: #A84;
    margin: 10px;
}

.grid-container div {
    border: 1px solid #DDD;
    color: #FFF;
    padding: 10px;
    font-size: 30px;
}
.grid-container div:nth-child(1) {
    background-color: deepskyblue;
}
.grid-container div:nth-child(2) {
    background-color: fuchsia;
}
.grid-container div:nth-child(3) {
    background-color: gold;
}
.grid-container div:nth-child(4) {
    background-color: yellowgreen;
}
.grid-container div:nth-child(5) {
    background-color: crimson;
}
.grid-container div:nth-child(6) {
    background-color: cadetblue;
}

.float-container {
    background-color: #48A;
    margin: 10px;
}

.float-container div {
    border: 1px solid #DDD;
    color: #FFF;
    padding: 10px;
    font-size: 30px;
}
.float-container div:nth-child(1) {
    background-color: deepskyblue;
}
.float-container div:nth-child(2) {
    background-color: fuchsia;
}
.float-container div:nth-child(3) {
    background-color: gold;
}
.float-container div:nth-child(4) {
    background-color: yellowgreen;
}
.float-container div:nth-child(5) {
    background-color: crimson;
}
.float-container div:nth-child(6) {
    background-color: cadetblue;
}
